body{
width:100%;
height:400%;
float:left;
}

.one{
background-color:rgb(230,200,233);
}

.two{
background:pink;
}

.three{
background-color:rgb(145,220,133);
}

.one,
.two,
.three{
width:33.33%;
float:left;
height:160vh;
}

input:hover{
background-color:yellow;
}

input:focus{
border:3px solid red;
background-color:grey;
color:white;
}